.banner {
    width: 100%;
    height: 350px;
    margin-top: -3%;
    background-color: black;
}


.slogan {
    padding-top: 5%;
    position: relative;
    z-index: 2;
    color: white;
}

h1 {
    font-weight: 700;
}

h5 {
    font-weight: 400
}

.info {
    margin-top: 1%;
    margin-left: 20%;
}

.card {
    width: 220px;
    height: 250px;    
}

.nav-links,
.nav-links a {
    background-color: black;
    text-align: right;
    color: white;
    position: relative;
    z-index: 4;
    margin-right: 2%;
}